[2018-03-15 18:54] Peter-Slump opened #1 "Feature: Sync Django groups as composite roles to Keycloak"

[2018-03-15 18:55] Peter-Slump opened #2 "Feature: Add Authentication back-end to authenticate using Authorization header"

[2018-03-15 19:01] Peter-Slump opened #3 "Feature: Create user as service-account user for a client"

[2018-03-15 23:03] #3 closed

[2018-03-15 23:05] Peter-Slump opened #5 "Documentation is out of sync with latest version"

[2018-03-17 21:37] #5 closed

[2018-03-25 20:14] #2 closed

[2018-07-28 20:07] sairamkrish opened #9 "Keycloak user getting created on django's users_user table"
Hi

I had a similar need and started exploring this project.
Facing this issue:

The need for using keycloak is to keep user management as a separate layer. After integrating this project and keycloak, when a user, who is created in keycloak Sign-in into django, I see a user record getting created in django's database inside "users_user" table (postgresql, in mycase).

Why do we need user record i

[2018-12-06 22:54] makkus opened #11 "How does the redirect for this backend work."
Sorry, this is probably a stupid question, I'm just getting started with Django and its authentication. I'm having trouble figuring out how to 'force' a user login with this app. How would one, for example, create a 'login' button that redirects to Keycloak?

I've tried to do:

    if not request.user.is_authenticated:
        return redirect('%s?next=%s' % (settings.LOGIN_URL, request.path))

In

[2018-12-10 21:06] Peter-Slump commented on #11
Hi @makkus,

I might have forgotten something in the documentation. You also have to configure the Keycloak URL's by adding something like this to your urls.py:

[code]

Please don't forget to configure your Keycloak server and REALM using the Django Admin before trying to login.

[2018-12-10 21:14] Peter-Slump commented on #11
I've updated the docs.

[2018-12-10 21:14] #11 closed

[2018-12-10 21:18] Peter-Slump commented on #9
Hi @sairamkrish,

You are right there is not always a need to store the user in the database. However when you want to link objects to the authenticated user it can be handy to have a record of the user in the database.
Off course you are always welcome to add a option for stateless authentication and create a pull request.

Peter

[2018-12-10 21:18] #9 closed

[2018-12-10 21:36] makkus commented on #11
Thanks, much appreciated!

[2019-02-11 18:52] bssher opened #16 "Help!"
Having trouble with the following when I run the django admin keycloak add user command.
 File "/usr/local/lib/python2.7/dist-packages/keycloak/client.py", line 82, in _handle_response
    with response:
AttributeError: __exit__

Not sure how to get this up and running.

[2019-02-11 21:50] Peter-Slump commented on #16
Hi @bssher which version do you use?

[2019-02-11 21:54] bssher commented on #16
Django==1.11.16 using this project.
https://github.com/GeoNode/geonode

[2019-02-12 10:17] bossan commented on #16
@bssher The problem is probably the version of the requests library you are using. Older versions of the requests library are not compatible with the `with response: ` as used in the keycloak client (hence the error). I would suggest updating requests to the newest version which should solve your problem.

[2019-02-12 20:32] bssher commented on #16
Thanks @bossan.  I was able to resolve it by upgrading response.
Next question how do I access the login page. I have updated the urls.py, what is the path to navigate to? I am able to run the refresh realm django admin command and all seems populated correctly in my admin console.

[2019-02-14 14:03] Peter-Slump commented on #16
If you followed the docs as you said e.g.:

[code]

You can find the login url at: `/keycloak/login`.

The pattern is named `keycloak_login`, which makes it possible to use it with Django's [reverse function](https://docs.djangoproject.com/en/1.11/ref/urlresolvers/#reverse)

[2019-02-14 21:31] bssher commented on #16
Thanks for the help! I'm getting closer. When I login I get the following message in the apache logs
JWTError: Signature verification failed.

My guess is its a keycloak configuration. Ideas?

[2019-02-15 21:37] Peter-Slump commented on #16
Did you already [refreshed the certificates](https://django-keycloak.readthedocs.io/en/latest/?badge=latest#refresh-certificates) using the Django Admin?
It seems like a lack or a mismatch in certificates between your app and Keycloak which causes that the JWT signature cannot be validated.

[2019-02-19 15:32] bssher commented on #16
I didn't.  What's the command in django admin.  The only 2 commands I see available are
 keycloak_add_user
 keycloak_refresh_realm

Also any specific setting you make in keycloak in the  Fine Grain OpenID Connect Configuration?

[2019-02-26 20:01] Peter-Slump commented on #16
In meantime I've released a new version and updated the docs. Please read the section about refreshing the certificates: https://django-keycloak.readthedocs.io/en/latest/scenario/initial_setup.html#refresh-certificates

[2019-03-12 22:27] slavashvets opened #17 "Is it possible to use keycloak auth for django admin?"
Hello, thanks for the great library.

My question is related to django admin interface. I've added remote user setup according to the manual, authentication is working, but I still cannot get rid of django login form and not sure about remote roles are mapped correctly in admin UI.

Is it possible to make django admin UI to be managed by Keycloak? (Django==2.1)

[2019-03-13 15:19] cguethle opened #18 "JWTClaimsError at /keycloak/login-complete"
Attempted to use your module for my Django project and am getting the following error.

Latest Keycloak running at localhost:8080, Django server running at localhost:8000. The redirect to the Keycloak login works fine, this error happens after logging in and getting redirected back to Django. Of note, a Django user gets created for the matching keycloak user.

I have followed your instructions in

[2019-03-13 15:36] cguethle commented on #18
An observation after playing around more. If I try using PyCharm to breakpoint into `set_session_state_cookie_` in `BaseKeycloakMiddleware`, it magically fixes itself and my page loads fine to the Django app base url (http://localhost:8000/).

:|

So a timing issue somewhere?

[2019-03-14 20:55] cguethle commented on #18
So, an update on my trials. At some point it was trying to validate the audience using a claims object with an aud of 'account'. I got it to work by removing the roles auto assigned by Keycloak for the default 'account' client (manage-account, view-profile). In my use case, those will not be used, so no real worries.

From a learning perspective, can you explain the exception relative to an ootb K

[2019-03-18 20:14] Peter-Slump commented on #17
Hi @slavashvets, with the remote user setup it will be quite hard since Django is tightly coupled to a user model in the database through the [log model](https://github.com/django/django/blob/2.1/django/contrib/admin/models.py). A clean solution to work around this is very welcome.

[2019-03-18 20:35] Peter-Slump commented on #18
Hi @cguethle, I had the same case once but that was with a newer version of Keycloak (probably 4.5). It seems that Keycloak returns a JWT for the `account` client/audience. Which is a bit weird if you ask me since you explicitly request a token for the client configured in your Django app. Unfortunately I never dug deeper in the issue since I switched to a lower version (3.4) of Keycloak because t

[2019-03-19 21:05] Peter-Slump commented on #18
Today I dived in the topic and it seems that some is changed around Audience handling after version 3.4

Please check the Keycloak docs on how to configure audience mapping: https://www.keycloak.org/docs/4.8/server_admin/#_audience

I was able to reproduce your issue in Keycloak 4.8.3 and fixing it by creating a audience mapper for the client.

[2019-03-19 22:15] cguethle commented on #18
I am using the latest version, so this makes sense. I will look into the audience mapper more. Thanks for the quick resolution.

[2019-03-19 22:15] #18 closed, assigned to nobody

[2019-03-26 21:26] bossan commented on #17
Hello @slavashvets . You might want to try extending the [ModelAdmin](https://github.com/django/django/blob/2.1/django/contrib/admin/options.py) with a modified `log_addition`, `log_change` and `log_deletion` and specify your own version of the `LogEntry` model without the user or completely remove this line. However, there might be other parts of the admin depending on this model as @Peter-Slump

[2019-04-04 04:27] andrew-ang opened #20 "Hybrid for local/remote user"
Hi, I'm trying to configure my setup such that users can log in via keycloak using their own email, say like `alice@company.com` or `bob@company.com`. But, the catch is I want them to log into a specific (existing) User instance `support@company.com`. The idea is to keep track of which users are logging in to the support account. Is this currently possible?

[2019-06-11 09:28] RubenGarcia opened #21 "Documentation on disabling ssl checks"
I have tried disabling ssl checks in order to test the library in a development setting.
In particular, using
https://stackoverflow.com/questions/35875298/python-3-urllib-with-self-signed-certificates
I tried various variations of
 ssl._create_default_https_context = ssl._create_unverified_context
at django initialization, but I still get the same SSL error:
HTTPSConnectionPool(host='a.b.c.d', por

[2019-06-11 13:56] RubenGarcia commented on #21
I changed (inspired by https://stackoverflow.com/questions/15445981/how-do-i-disable-the-security-certificate-check-in-python-requests)
 self.verify = True
to
 self.verify = False
in requests/sessions.py
but while that removed the SSL error, I now get
JSONDecodeError at /keycloak/login-complete
so there must be something else I'm doing wrong.

[2019-06-11 16:48] RubenGarcia opened #22 "JSONDecodeError at /keycloak/login-complete"
I am following the tutorial (using remote users), but I am getting this error after authentification.
The issue seems to be an empty realm.well_known_oidc['issuer']
http://dpaste.com/138QME9

Does anybody know what the issue may be?

[2019-06-19 07:15] RubenGarcia commented on #21
The JSONDecodeError was a different issue, so please disregard that.
However, there should be an easy way to indicate to django-keycloak that certificate verification should be disabled without disabling it globally at site-packages/requests/sessions.py

[2019-07-15 09:54] bossan opened #23 "Cannot run migrations with RemoteUserOpenIdConnectProfile"
Running all migrations from an initial state using the RemoteUserOpenIdConnectProfile is unsuccessful.

The order of migrations 0001, 0002 and 0003 and dependencies on the OpenIdConnectProfile make it impossible to successfully run all migrations.

[2019-07-30 14:24] artemistomaras opened #24 "[Question] Using the refresh token"
@Peter-Slump  How can I use the refresh token retrieved from the ``request.user.oidc_profile`` to ask keycloak for a new access token?

[2019-08-02 16:57] VincentSch4rf commented on #11
I just ran into the same issue. Unfortunately, the documentation seems to be outdated again. Instead of  using `keycloak_login` as `LOGIN_URL` one has to use `keycloak/login`.
I hope this helps anyone else trying to get the library up and running. Apart from that minor "bug" very nice job 😄

[2019-08-08 11:56] SpaceWhite commented on #23
I've this issue too when try to migrate using RemoteUserOpenIdConnectProfile and local user storage.

```django.db.utils.ProgrammingError: relation "django_keycloak_openidconnectprofile" does not exist```

Is there any workaround for this issue?

[2019-08-15 09:48] sstocker85 opened #25 "Keycloak >v4 compatibility"
In version 4.0.0 of Keycloak the Authorization and Entitlement API was removed:
[https://www.keycloak.org/docs/6.0/upgrading/#changes-to-authorization-services](https://www.keycloak.org/docs/6.0/upgrading/#changes-to-authorization-services)
With the current version of django-keycloak I'm getting 404 Client Errors when I try to access user roles.

[2019-10-21 02:13] missmanpreet opened #26 "TypeError at / '>' not supported between instances of 'NoneType' and 'datetime.datetime'"
I logged on two different browsers. I logout from one browser and successfully logout. After that I refresh the page on second browser I got this error "TypeError at /
'>' not supported between instances of 'NoneType' and 'datetime.datetime"

Exception Location: | /Users/manpreet/Sites/venv/lib/python3.6/site-packages/django_keycloak/auth/backends.py in get_user, line 31

[2019-11-13 16:30] MiltosD opened #30 "Django rest framework support"
Hello, I wonder if this can work with DRF, since I am building a django rest backend and I need to be able to get JWT from keycloak, that would be valid within django rest framework.

Thanks

[2019-11-14 12:59] MiltosD opened #31 "403 Client Error"
I am getting a `403 Client Error: Forbidden for url: http://localhost:8080/auth/admin/realms/myclient/clients`, when trying to **Synchrozize permissions**, according to the documentation or when trying to run the `python manage.py keycloak_add_user --realm <insert realm name> --username <insert user name>` command

[2019-12-13 17:04] cegg opened #32 "Migration missing? relation "django_keycloak_nonce" does not exist"
Not an issue, more of a question.. Once I configure settings.py and urls.py and build web and keycloak containers, hitting the website gives me

[code]
and attempt to create a user ( `python manage.py keycloak_add_user --realm acc --username <some_username>`) gives me

[code]
so it's pretty obvious none of the DB stucture made it, what step did I miss?

Thanks

[2019-12-16 11:10] cegg commented on #32
Switched to use the docs's instructions instead of custom yaml.

[2019-12-16 11:10] #32 closed, assigned to nobody

[2019-12-16 11:16] cegg opened #33 "https://resource-provider.localhost.yarf.nl/ gives 502 Bad Gateway"
Build containers following the instructions:

[code]

Can access keycloak admin: https://identity.localhost.yarf.nl/ , login, configure users, etc.
**Can not** access  https://resource-provider.localhost.yarf.nl/ (provider), gives

502 Bad Gateway nginx/1.16.1

docker-compose logs contains this, might be relevant:

[2020-01-28 16:58] garimagupta715 opened #34 "Help!!!! not getting refresh-openid-connect-well-known"
Hi ,
Thanks for such lib. I am trying to use this lib for my current project but not getting 'refresh-openid-connect-well-known' action under admin panel bz of that getting below error "Invalid URL 'auth/realms/Master/.well-known/openid-configuration': No schema supplied. Perhaps you meant http://auth/realms/Master/.well-known/openid-configuration?" can you guide me where it is wrong.

[2020-01-28 21:54] bsteverink commented on #34
Have you correctly specified the URL of your server, including the schema? You can do this in the Django admin under keycloak -> servers.

[2020-01-29 05:47] garimagupta715 commented on #34
![image](https://user-images.githubusercontent.com/53895149/73331079-ac2f7c00-4288-11ea-818d-061f62e24940.png)
this is my server congi.
and this my realm congi.

![image](https://user-images.githubusercontent.com/53895149/73331131-d4b77600-4288-11ea-83e2-a632815f83df.png)

one Q what do you mean by schema here?

[2020-02-02 21:32] Peter-Slump commented on #34
Please start the url with https://

[2020-02-02 21:33] Peter-Slump commented on #33
Looking at your `docker ps` output the resource-provider and the resource-provider-api aren't started. Please look in the docker-compose output to find out why they are not started.

[2020-02-02 21:35] Peter-Slump commented on #31
Can it has something to do with the fact that you try to reach the server by http and not by http**s**?

[2020-02-02 21:36] Peter-Slump commented on #30
Sorry did not test it with DRF. But be my guest ;)

[2020-02-02 21:36] #30 closed, assigned to nobody

[2020-02-02 21:38] Peter-Slump commented on #25
Sorry there is no support yet for Keycloak >= 4. Please be my guest to add support.

[2020-02-02 21:40] Peter-Slump commented on #24
Please look the code at `django_keycloak.services.oidc_profile.get_active_access_token`. You can find an implementation how to refresh the token using the `request.user.oidc_profile`

[2020-02-02 21:40] #24 closed, assigned to nobody

[2020-02-04 18:34] garimagupta715 commented on #34
https:// did't work..
this is my repo. i copied keycloak folder bz there was some issue with python version. superuser:pwd/admin:admin. can you please advice where it is wrong.
https://github.com/garimagupta715/django_keycloak_lib

[2020-02-10 17:44] erwinfeser opened #35 "Which keycloak version is recommended for django-keycloak integration?"

[2020-02-11 00:01] robinzachmann commented on #33
I'm facing the same problem. This is the relevant output from docker-compose (for `resource-provider`):

[code]

For `resource-provider-api` it looks just the same.

[2020-02-11 06:22] Peter-Slump commented on #33
Maybe the python 3 docker container is upgraded to a newer python version (3.8) and the path to store the certificate (
`/usr/local/lib/python3.7/site-packages/certifi/cacert.pem)`
 doesn't exis anymore? Please try to update the path in the docker-compose file and try again.

On Tue, Feb 11, 2020, at 1:01 AM, Robin wrote:

resource-provider_1      | Requirement already satisfied: python-keycloak-c

[2020-02-11 06:27] Peter-Slump commented on #35
It's tested with keycloak 3.4 however that's not the newest version anymore. You can try with newer versions however I understood that there is an API deprecated and there is a change in handling the OpenID AUD.

On Mon, Feb 10, 2020, at 6:44 PM, Erwin Feser wrote:

[2020-02-11 11:47] robinzachmann commented on #33
Yes, that's it.

I adjusted the Python versions in:
- `resource-provider/docker/entrypoint-dev.sh`
- `resource-provider-api/docker/entrypoint-dev.sh`

Thanks!

[2020-03-13 08:15] malinich commented on #23
I'm too (
@swist @bossan  How you solved this issue? >6 month pass
Because this problem raise docker container big issue

[2020-03-21 21:41] bossan commented on #23
@Malinich I forked the project and created new migrations.

[2020-03-27 14:04] nirav3650 opened #38 "Realm has no client error"
I followed the tutorial shown on the Django keycloack read docs page, after setting up realm and server while performing refresh certificate using admin it shows Realm has no client.
I tried to add user using

It reaises exception keycloackclientexception

[2020-03-27 15:12] #38 closed, assigned to nobody

[2020-03-29 16:56] srinathganesh1 opened #39 "Set username as Keycloak Username (instead of Keycloak ID)"
This is what my keycloak User Screen looks like
![Screenshot from 2020-03-29 22-25-10](https://user-images.githubusercontent.com/11017158/77855141-373add00-720c-11ea-8434-964471e4ad87.png)

BUT when I log within django,
- user.email is proper (whats present in keycloak)
- user.username is getting set as ID from keycloak.

**Is there a way to retain djnago username as keycloak username?**

[2020-03-29 17:02] srinathganesh1 commented on #35
I am working on using this plugin to integrate Keycloak `jboss/keycloak:9.0.0` (Docker) with PIP django-keycloak==0.1.1 . And things seems to be working fine.

[2020-03-30 06:30] nirav3650 commented on #39
Hi Shrikant,
I am trying to use django_keycloak but I am not able to authenticate the users.
I followed the tutorial till initial setup, can you please help me with the initial setup of the project

[2020-03-30 06:37] nirav3650 commented on #39
I am getting django_keycloak.auth.bacjends dose not have define a BaseKeycloakMiddleware attribute/class

[2020-03-30 06:41] nirav3650 opened #40 "A tutorial for using Django with keycloack"
I request @Peter-Slump to please post a tutorial for using django-keycloak with Django version 3.0.3
I googled for tutorial but any of them didn't work

[2020-03-30 07:19] srinathganesh1 commented on #39
Hi nirav, if you could start a different issue/thread with your
configuration files, then i could see how i could help

On Mon, 30 Mar, 2020, 12:00 Nirav Kakkad, <notifications@github.com> wrote:

[2020-03-30 07:24] nirav3650 commented on #39
I followed the Django keycloack documentation and I am able to successfully refresh the certificate. Now if I want to use keycloack as authentication process what I need to do next.
I want to use keycloack as authentication I am using Django version 3.0.3

[2020-03-30 07:44] srinathganesh1 commented on #39
Hi nirav,

I would not be ready to mix up others issues within this issue post,
if you could start a different issue/thread with your
configuration files, then i could see how i could help

[2020-03-30 07:56] srinathganesh1 commented on #40
Can you provide the configuration files that you have?

This is the tutorial that you need

- https://readthedocs.org/projects/django-keycloak/downloads/pdf/stable/ (CHAPTER 11)
- https://django-keycloak.readthedocs.io/en/latest/scenario/initial_setup.html

[2020-04-01 20:24] srinathganesh1 commented on #39
Why does the plugin not use `preferred_username` that is being returned by Keycloak?

![Screenshot from 2020-04-02 01-53-34](https://user-images.githubusercontent.com/11017158/78183058-e71a7f80-7484-11ea-92ad-0297dab3754d.png)

[2020-04-02 10:09] nirav3650 commented on #39
I get user id of the authenticated keycloak user in Django instead of username when I use request.user.username

Does preferred username give us the username of the user specified in keycloak of that user?

[2020-04-02 11:11] srinathganesh1 commented on #39
`prefered_username` of oauth does return username, but this plugin does not seem to be reading it

[2020-04-02 12:28] srinathganesh1 commented on #39
Update:
I locally changed it to `preferred_username` and did `python3 setup.py install` and logged in. Things seems to work fine and keycloak Username is getting populated to user.username

Still awaiting more testing, but basic run looks good

[2020-04-07 20:59] phoebebright commented on #18
Same issue with keycloak 9.0.2.  Works fine as long as I use the "account" client.

Exploration revealed that the error was happening in jose.jwt.py::

         if audience not in audience_claims:
                raise JWTClaimsError('Invalid audience')

At this point audience = '<my_client_id>', audience_claims = ['account',]

audience is being set here In keycloak.openid_connect.py, the audience

[2020-04-08 08:24] tomallv commented on #40
Hi, i am learning how to intergrate the keycloack in my project(Django 3.0.4), follow your tutoral, i found that my Django administration page doesn't have Keycloak configuration item, whether this is needed to manually configurate? where can do this?
Another question: only the "django-keycloak" package is only needed for the whole process? any other packages needed else? thank you!

[2020-04-08 10:42] Peter-Slump commented on #40
Hi @tomallv I never tested the package with Django 3+ so I don't know if it will work. I hope to find some time soon to experiment.

On Wed, Apr 8, 2020, at 10:24 AM, tomallv wrote:

[2020-04-08 12:36] tomallv commented on #40
@Peter-Slump hope you can get updated tutoral with Django 3+ in soon future, i found another package "Django REST Framework Keycloak" that would be workable from documentation, i will try it later

[2020-04-08 17:12] srinathganesh1 commented on #40
To begin with I used this with djnago 1.11 (its a old app, thats why) so I cannot speak about djnago 3.

IF you could post your configs and screenshots, I (or someone else) could compare and see whether you are missing something.

- is `INSTALLED_APPS` in settings.py updated?
- can your verify whether database migrations are done? I perform a blanket migration `python3 manage.py migrate`

[2020-04-09 04:36] nirav3650 commented on #40
Hi,
I want to use keycloack user groups with my Django application how can I do it using django-keycloak.
I followed remote user page of django-keycloak but after that it gives field error.

[2020-04-09 04:38] srinathganesh1 commented on #40
you are generally NOT supposed to use Remote User, unless you are sure you need that functionality

[2020-04-09 05:56] nirav3650 commented on #40
How can I use groups present in a realm of keycloack with the Django application

[2020-04-09 05:59] srinathganesh1 commented on #40
I think you should be worried about this AFTER a basic connection works

[2020-04-09 06:01] nirav3650 commented on #40
I am able to authenticate user using keycloack with my Django application

[2020-04-09 06:11] tomallv commented on #40
@nirav3650 Is Django 3.+ is used in your side? how did you do the configuration in the settings.py? and is there other packages needed else in your proejct except django_keycloak? i mean just in the keycloak auth workarea.

[2020-04-09 06:14] srinathganesh1 commented on #34
do you have any error log?

[2020-04-09 06:16] nirav3650 commented on #40
Hi @tomallv ,
Just follow the Django keycloack setup install page
In Django settings of your app you need to add keycloack_django in installed apps as suggested in Django keycloack documentation.
No other packages are needed.
Once setup you need to do python manage.py migrate to add keycloack config tables in your Django application

[2020-04-09 06:16] srinathganesh1 commented on #40
if you can post ur config someone could posibly think what the issue can be. without that there hardly anything other can do

[2020-04-09 06:17] srinathganesh1 commented on #40
1. does it redirect you to keycloak page?
2. does it redirect back to your django app?
3. does it print any errors?

[2020-04-09 06:19] srinathganesh1 commented on #40
i have not used groups

[2020-04-09 06:25] nirav3650 commented on #1
How can I use keycloack groups in my Django application

[2020-04-09 06:38] tomallv commented on #40
Do this in settings.py
INSTALLED_APPS = ['django_keycloak.apps.KeycloakAppConfig']
MIDDLEWARE = ['django_keycloak.middleware.BaseKeycloakMiddleware',]

AUTHENTICATION_BACKENDS =['django_keycloak.auth.backends.KeycloakAuthorizationCodeBackend',]

LOGIN_URL = 'keycloak_login'

# your-project/urls.py
urlpatterns = [url(r'^keycloak/', include('django_keycloak.urls')),]

KEYCLOAK_OIDC_PROFILE_MODEL = '

[2020-04-09 07:45] srinathganesh1 commented on #40
@tomallv have you run migrations?

[2020-04-09 07:50] tomallv commented on #40
@srinathganesh1 yes, this is done, after access the link "http://127.0.0.1:9061/keycloak/login",  one waring pops up
" .........
File "C:\Users\admin\AppData\Local\Programs\Python\Python38\lib\site-packages\django\views\generic\base.py", line 188, in get
    url = self.get_redirect_url(*args, **kwargs)
  File "C:\Users\admin\AppData\Roaming\Python\Python38\site-packages\django_keycloak\views.py",

[2020-04-09 11:59] srinathganesh1 commented on #40
@tomallv can you check ur database, whether new tables are created for this package?

[2020-04-09 12:55] nirav3650 commented on #40
Is there a way to get the group name to which the user belongs to via Django keycloack

[2020-04-09 12:59] tomallv commented on #40
@srinathganesh1 yes, total 8 new tables keycloak related are created as below screenshot:
![image](https://user-images.githubusercontent.com/33150898/78897453-c796de80-7aa4-11ea-87ea-7009e7be9b51.png)

[2020-04-09 14:22] mark-slepkov commented on #18
Thank you @phoebebright
You saved my day.

[2020-04-12 17:04] phoebebright opened #41 "Best way to handle email instead of username"
I had originally setup my user model to use email for authentication so there was no username field.  I put it back to get keycloak to work and when a user is registered on keycloak I get an entry in the usermodel with a keycloak id in the username and the email completed.  This is fine.

However, if an existing django users tries to register in keycloak there will be an error because django-keycl

[2020-04-13 06:31] nirav3650 opened #42 "Authorization of Django with Keycloak"
I am using Django keycloak to authenticate user in my django application.
Once the user is authenticated how can I sync or map Django groups permission to keycloak users.
I followed the tutorial and while synchronizing permissions I get following error
**401 Client Error: Unauthorized for url: keycloack-serverurl/auth/realms/myrealm/protocol/openid-connect/token**

I am using local user setup mode

[2020-04-13 06:32] #40 closed, assigned to nobody

[2020-04-20 20:47] phoebebright commented on #25
Running on 9.0.2 and only problem is am having problems adding users directly into keycloak admin.  Otherwise works fine.

[2020-04-20 20:49] phoebebright commented on #22
Worth checking your Realm in django admin has been setup and redo the admin actions Refresh OpenID Connect .well_known and refresh Certificates.   See initial setup https://django-keycloak.readthedocs.io/en/latest/scenario/initial_setup.html

[2020-04-22 16:10] riaanvddool commented on #23
@bossan Will you be opening a PR for the new migrations?

[2020-04-23 20:56] Peter-Slump commented on #41
There are several options as you mentioned. I want to add another option. You can also override the `update_or_create` method on your User model manager. In that way you can first try to find the user by Keycloak ID, then by email. If found by email you can transform the User to a Keycloak version.

Maybe that helps.

Ps. I received an message from you? However there was no reply address in the me

[2020-04-24 11:56] phoebebright commented on #41
Am avoiding the issue above altogether for the moment by getting users to re-register but may come back to it later and try the update_or_create method you suggest.

Have made good progress so my contact message is no longer relevant.  I have learned a lot and have so far used django-keycloak with a few small modifications.  However am now tackling drf integration issue and have a couple of questi

[2020-04-24 11:56] #41 closed, assigned to nobody

[2020-04-27 14:25] phoebebright commented on #42
I think I have the same question or similar question.  I have the user login etc. working but now I needed to be able to use the keycloak admin api:

1. Are the permissions dependant on the user you are logged in as?  In this case you have setup the user in keycloak with admin rights and then login to the django app and run your command.
2. You can get a token for an admin user using the secret ke

[2020-05-08 08:21] AdrianWa opened #43 "Configuration without Admin Panel"
First of all, thanks for the package!

I'm currently trying to include django-keycloak into my project. Because the deployment process is completely automatical, i was wondering if it is possible to configure the Realm and Client from a configuration file or settings.py instead of using the Django Admin Site?

[2020-05-09 14:44] simora opened #44 "RemoteClient matching query does not exist."
Using latest of django-keycloak and attempting to login with example app provided. I've followed what documentation is provided on the site but can't seem to find anything referencing RemoteClient or what that value is supposed to be. I am receiving the following error. What is the RemoteClient supposed to be?

django_keycloak.models.RemoteClient.DoesNotExist: RemoteClient matching query does not

[2020-05-09 15:14] simora commented on #44
I believe I found my answer. In the secured view "resource-provider-api" remote client (client name in keycloak) is referenced. I didn't create the resource-provider-api container or client in keycloak so it was failing. Now its failing about tokens but again most likely due to the fact that it is attempting to authorize a token from a client that doesn't exist.

RemoteClient is for authorizing to

[2020-05-09 17:16] #44 closed, assigned to nobody

[2020-05-11 07:21] irfanpule opened #45 "ModuleNotFoundError: No module named 'factory'"
I try run unit test, but i get this error `ModuleNotFoundError: No module named 'factory'`. Do I have to install something python package?

[2020-06-11 08:21] rkpip3 opened #46 "ERROR: unsatisfiable constraints: python-dev (missing):"
Hi getting error:  ERROR: unsatisfiable constraints: python-dev (missing):

D:\AutoIntelli\FULLPROJECTS\ttest\django-keycloak\example>docker-compose up
Building resource-provider
Step 1/9 : FROM python:3-alpine
 ---> 8ecf5a48c789
Step 2/9 : RUN apk update    && apk add git openssl-dev libffi-dev python-dev build-base
 ---> Running in 0df78aec1fd1
fetch http://dl-cdn.alpinelinux.org/alpine/v3.12/ma

[2020-06-12 22:33] jeudy-ua commented on #23
Can someone share the sql definition of table django_keycloak_remoteuseropenidconnectprofile? I'll have to create it manually to be able to use remote user mode.

[2020-06-20 15:24] phoebebright commented on #30
Created a custom backend for drf::

    class KeycloakDRFAuthorizationBackend(KeycloakAuthorizationBase):
        keyword = "bearer"

        def authenticate(self, request):

            auth = request.headers.get('Authorization').split()
            provided_origin = request.headers.get('Origin')

            if not auth:
                return None

            elif auth[0].lower() != self.keyw

[2020-06-29 17:03] nabinkhadka commented on #17
@Peter-Slump , @bossan Has anything changed now? Is it possible?

[2020-07-06 15:21] FJLendinez commented on #46
Python-dev dependency fails.

Remove it from **resource-provider/Dockerfile** and **resource-provider-api/Dockerfile**.

[2020-07-20 13:53] nl2412 opened #47 "Unable to refresh OIDC .well-known or certificates"
Hello!
Thanks for the great library. Unfortunately, I am currently having problem setting up and integrate it in my project.
Every time I request refreshing OIDC .well-known or certificates from django admin console, I get this error:

[code]

My current project is using:
- Python 3.x
- Django 2.2.13
- Keycloak 10.0.2

All helps are appreciated! Thanks

[2020-07-20 13:59] srinathganesh1 commented on #47
- is it possible for you to provate an IP Address instead of "localhost"? and see whether that helps

- Cloud you share what url (localhost or what) is set in the page `/admin/django_keycloak/server/{ID}/change/`

[2020-07-20 14:33] nl2412 commented on #47
Ahh you are right my django app is running in a container so localhost won't work here. Thanks !

[2020-07-20 14:33] #47 closed, assigned to nobody

[2020-08-14 14:23] pm-coelho commented on #23
I'm still having this issue, I think it is because [here](https://github.com/Peter-Slump/django-keycloak/blob/5211fba26ae4216b4344309eb4a67da9745ada05/src/django_keycloak/models.py#L194) the RemoteUserOpenIdConnectProfile.Meta is inheriting the abstract flag, and if you have `KEYCLOAK_OIDC_PROFILE_MODEL = 'django_keycloak.RemoteUserOpenIdConnectProfile'` set it will never create the `django_keyclo

[2020-08-25 14:52] alimodares2003 opened #49 "Forbidden for my realm"
Hi
I configured django-keycloak in my project, but when i want sync django with keycloak in admin panel give me the error like this:

**Forbidden for myrealm. Is "Remote Resource Management" enabled for the related client?**

while it is enable.

[2020-09-25 04:02] kristall opened #50 "Django admin not working when AUTHENTICATION_BACKENDS not set properly"
Under https://django-keycloak.readthedocs.io/en/latest/index.html#setup is the point
[code]

but in an "vanilla" settings file is no `AUTHENTICATION_BACKENDS` so the `...` need to be replace with the default value (see https://docs.djangoproject.com/en/3.1/ref/settings/#auth): `'django.contrib.auth.backends.ModelBackend',`, so that it looks like this
[code]
else the django superuser can not login

[2020-10-20 10:49] bpogodzinski commented on #43
Also would like to know if this is possible, and if not this feature would be a godsend.

[2020-10-28 11:22] rg2609 opened #52 "Compatible with Django and Python version"
Hi, I just wanted to know that Keycloak is compatible with which version of Django and Python.
Thank you.

[2020-10-28 18:55] ftcardoso commented on #49
Hi @alimodares2003,

Did you manage to solve this? I'm having the same problem.

Best regards

[2020-11-05 15:12] dyohan9 commented on #23
to repair the migrations, it would be interesting to reset and do the **--fake-initial**, that way it would solve without generating so many complications

[2020-11-06 03:21] cjy543731778 commented on #50
Thank you very much.

[2020-11-06 03:32] cjy543731778 commented on #34
delete th "auth" in Url.
localhost:8080 is enough.

[2020-11-19 21:01] variable opened #55 "Project status?"
Hello the repo has not been updated for 2 years, I am curious if this is still being maintained anymore? Love the idea to be able to have multiple client configurations.

[2020-11-23 19:01] bowerta commented on #50
Thanks, this was helpful

[2020-11-23 19:06] bowerta commented on #23
I am also stuck on this issue, I get the following error when trying to run a migration:
`django.db.utils.ProgrammingError: relation "django_keycloak_openidconnectprofile" does not exist
`

[2020-11-25 21:27] phoebebright commented on #55
I'm actively using it for a couple of projects - made a few changes to suit my needs otherwise find it works fine.

[2020-12-01 04:22] compadrejavo commented on #55
Did you manage to make it run? I am stuck on "Refresh OpenID Connect .well-known" step with this error:
![image](https://user-images.githubusercontent.com/16692399/100696996-9ccf0280-3373-11eb-8b77-72f19785458d.png)

[2021-01-15 01:18] srinathganesh commented on #26
We are getting the same error in our logs. Thanks @missmanpreet for providing the scenerio

[2021-01-15 01:18] srinathganesh commented on #26
Did you manage to fix it?

[2021-01-20 11:49] ghost opened #56 "Keycloak user creation Error"
Unable to create user using following command
     => **python manage.py keycloak_add_user --realm YYYY --user XXXX**

Configuration :
      Django : 3.1.5
      Python : 3.8
      django-keycloak : git+https://github.com/Peter-Slump/django-keycloak.git@5211fba26ae4216b4344309eb4a67da9745ada05
      Keycloak-Version : 11.0.2

![django-keycloak-error](https://user-images.githubusercontent.com/36234

[2021-01-21 22:34] mchingotto opened #57 "No access_token provided to compare against at_hash claim."
Hello and Thank you !!!!!!
I am very new with Keycloak and also with Django.

I am using a fresh install of keycloak 12.0.2 (before that I was using 4.5.0 and not problems).

I got this message error in django when the keycloak server redirect the login approval to Django:

   Error => "No access_token provided to compare against at_hash claim."

    if not access_token:
        msg = 'No access_t

[2021-01-22 13:56] mchingotto commented on #57
Hello,

   Reading... and learning a little bit.

  Maybe is there enforcement of at_hash value no matter if access_token is being used or not?

    "The at_hash value is a case sensitive string. If the ID Token is issued from the Authorization Endpoint with an access_token value, which is the case for the response_type value code id_token token, this is REQUIRED; otherwise, its inclusion is OPTIO

[2021-02-09 17:23] ahmedsmaali5 commented on #18
@phoebebright thanks a lot you're a life saver, i used keycloak 9.0.0

[2021-02-11 21:46] 2chg commented on #57
I'm encountering the very same problems (despite that the custom client scope `openid` is not required) and hoping someone here could explain what we are doing wrong?!

Did someone got this module to work with the current Keycloak version and could provide some tips?

[2021-02-11 21:54] 2chg commented on #57
Maybe the 18 months old issue statement is still valid and this plugin is still unusable with key cloak > v4?!
(What means we should consider this plugin as abandoned at the moment)

see #25

[2021-03-17 22:30] citos88 commented on #57
I use this package with keycloak 9.0.3 and it works ok. After update keycloak to version 12.0.4 I have the same problems like you. @mchingotto where you add client scopes? Because I have invalid request too 😢

[2021-05-30 19:26] SamBugler opened #59 "Bad Request For Permission Synchronisation"
When trying to synchronise permissions from the admin panel, I get the following error

The service account has the appropriate permissions and client credentials grant type is activated

Keycloak version is 12.0.4

[2021-05-30 20:15] SamBugler commented on #59
Seems to be related to 'scope': 'realm-management openid'. This scope isn't available, at least in the latest version of keycloak. Work around was to just create this scope and add it to client then it worked.

[2021-05-30 20:19] SamBugler commented on #57
I am also encountering this issue. Did anyone find a fix?

[2021-05-31 00:49] SamBugler commented on #57
I don't know if this was the case for previous versions of keycloak, but you have to set "Use Refresh Tokens For Client Credentials Grant" to ON for the client for this plugin to work.

[2021-07-08 04:02] 0jinny commented on #23
I was struggling with the same error, but I fixed it as below.
Delete or comment on lines related to the 'remote user', and migrate again.
After the migration, just roll back the lines, and it works.

`# KEYCLOAK_OIDC_PROFILE_MODEL = "django_keycloak.RemoteUserOpenIdConnectProfile"`
`# KEYCLOAK_REMOTE_USER_MODEL = "django_keycloak.remote_user.KeycloakRemoteUser"`
--> + middleware

[2021-08-12 13:11] dev-aakash1998 opened #61 "Migrating Passwords From Keycloak To Django"
Hi, I saw your code pertaining to credential migration from django to keycloak.
I have a use-case where I want Django Users and Keycloak Users to be synced `both ways`
So now I am designing an Interface which queries Keycloak DB directly for the credentials and inserts into Django Auth User Model. I referred to your code in `services/users.py`

[code]

I tried to backtrack for syncing user credent

[2021-08-14 18:28] mchingotto commented on #57
Hello @citos88, sorry for the delay.
What I did was adding those scopes in Configure/Client Scopes.
Then, inside Clients => Client Scopes => Add to "Assigned Default Client Scopes".

[2021-08-14 19:00] mchingotto commented on #57
Hello, I could not make this work yet, I posted a traceback on @boladjivinny commit.
Please, let me know if somebody has this working on keycloak 12.0.2 or newer.

Thank you,
I appreciate it.

[2021-08-15 18:15] mchingotto commented on #57
It is working now with 15.0.1.
I am suspecting a cache problem. Not sure if it was not possible to make this work on 12.0.2 (maybe my fault ?)

Thank you @boladjivinny !!
M

[2021-08-26 09:52] pmahindrakar commented on #57
Getting the same error in KeyCloak 11.0.2 and 12.0.4 versions. I am not allowed to upgrade the KeyCloak services to higher version. Any fixes available for the above versions ?

[2021-08-26 12:59] mchingotto commented on #57
Hello @pmahindrakar, for some reason it happened to me also in 15.0.1 the first time and it kept doing the error first minutes.
I have no clue about the why yet. I am suspecting a cache issue or similar. I am mostly sure I did the same steps every time.
Did you try to renew certificates, etc from django side ? I guess you did.
Hope it fixes in some way or another.

[2021-08-30 04:28] pmahindrakar commented on #57
Yes worked after renewing the renew certificates, etc from django side. Thank you @mchingotto

[2021-09-05 04:22] bastianhilton opened #62 "AttributeError at /keycloak/login 'NoneType' object has no attribute 'client'"
I am having this issue: AttributeError at /keycloak/login
'NoneType' object has no attribute 'client' when attempting to login to my admin area on my site.

I have followed each of the directions listed here to install django-keycloak to my application: https://django-keycloak.readthedocs.io/en/latest/index.html

This is a snippet of my settings.py:

middleware = [
'django_keycloak.middleware.Base

[2021-09-27 21:19] mmcclelland1002 commented on #47
what was the fix? 0.0.0.0:8080 did not work for me nor the name of my docker compose server keycloak:8080. still getting the same error. Thanks!

[2021-09-29 11:27] riaanvddool commented on #26
Same problem

[2021-10-11 05:57] pmahindrakar commented on #59
@SamBugler Thanks for the input. I was also facing similar error and after adding 'scope': 'realm-management openid' to the client , above error was resolved. However I am getting "KeyError at /admin/django_keycloak/realm/" "refresh_token". Any specific mappers to be used in 'scope': 'realm-management openid'  ??

I am using KeyCloak 12.0.4.

[2022-02-18 10:06] kavitarege opened #65 "Changing the LOGIN_REDIRECT_URL to different page"
How do I change the redirect_uri from  for example 127.0.0.1:8000/ to 127.0.0.1:8000/xyz-page. It always defaults to base url. I tried to change the redirect_uti in the keycloak client settings and  also set LOGIN_REDIRECT_URL='/xyz_page'.  It doesn't work.

Thanks in advance

[2022-02-28 08:04] peng-cheng-li commented on #62
Have you solved this issue? I got the same error.

[2022-05-17 13:16] mgrebla opened #66 "Access token not decoded within token object"
In module src/django_keycloak/services/oidc_profile.py, the object sitting around line 217. is missing `access_token`attribute:

`token_object = client.openid_api_client.decode_token(
       token=token_response[token_response_key],
        key=client.realm.certs,
        algorithms=client.openid_api_client.well_known[
            'id_token_signing_alg_values_supported'],
        issuer=issuer

[2022-05-17 13:20] mgrebla opened #67 "KeyError thrown on refresh_token missing in response token"
In module src/django_keycloak/services/oidc_profile.py, (line 251) `token_response` object's field `'refresh_token'` is acccessed:
` token_model.refresh_token = token_response['refresh_token']`

If this field is missing in the response token JSON then the KeyError is raised by the interperer

[2022-06-28 08:44] davidtnorth opened #68 "Support for the current version of UMA"
Currently, I can do this:

[code]

I'd like to be able to do this:

[code]

i.e. use UMA as supported in Keycloak 4.x and above. The necessary hooks are there in the underlying Keycloak admin client library; would you be open to a patch to add the support in the Django side?

[2022-07-07 20:45] BandColonyDev01 commented on #49
Hi @alimodares2003 and @ftcardoso,

I'm also seeing this error.
I'm running django from localhost and KeyCloak on a remote server.

django dependencies installed:

- django-keycloak==0.1.2.dev0
- python-keycloak-client==0.2.3

[2022-07-18 17:43] edwinmarinn commented on #57
In the file: **services/oidc_profile.py** in the function **_update_or_create** line 218, you should call the function **client.openid_api_client.decode_token** with the extra parameter **access_token=token_response["access_token"]**

The complete function call looks like this:

[code]

[2022-07-25 20:13] hernandohhoyos commented on #45
Very late but you need isntall factory-boy.
https://factoryboy.readthedocs.io/en/stable/introduction.html

[2022-07-27 08:19] #45 closed, assigned to nobody

[2022-08-01 23:28] RicardoFernandez-UY opened #69 "Is it safe to use this library in any environment?, particularly production?"
I need to choose a way to integrate these two (Keycloak and Django), and I really like this initiative over others I've seen, but there haven't been any updates in a long time (at least from the dates in the code).
I did a small test and it does not work with recent versions of Django as there are many things that have changed.
Of course, I would like to contribute; unfortunately, my programming s

[2022-08-07 23:22] RicardoFernandez-UY commented on #69
Well, I'm going to answer this myself.
The answer is **NO**.
This library won't work with new Django or Keycloak versions. (I'm using Django 4.x and KC 19.x)
This library needs a complete refactoring/update process.

I spent countless hours trying to solve some of the problems that appeared; I solved one, and another one appeared after that one, and so on.
Things are changing too fast in this "lov

[2022-08-16 12:53] Wissperwind commented on #69
@Peter-Slump it would be great to add an "outdated" batch in the doku and the github page.

[2022-08-16 12:54] Wissperwind commented on #69
@RicardoFernandez-UY What are you using at the moment? What is the current best practice to pare django with keykloak?

[2022-08-16 16:49] RicardoFernandez-UY commented on #69
@Wissperwind Hi, how are you?
I wasn't able to find the right way for me yet. So, still struggling with it.
I've explored a bunch of libraries like Peter's, and many of them were also outdated or unlike Peter's, had very poor documentation, so they were very difficult to understand and troubleshoot for a newbie programmer like me.
I've also started exploring the possibility of using a reverse prox

[2022-08-17 06:36] Wissperwind commented on #69
Ok, have you tried this one?
https://github.com/urbanplatform/django-keycloak-auth
This is the one I try to figure out today.

[2022-08-17 16:11] RicardoFernandez-UY commented on #69
No, I haven't. But I'll take a look at it as soon as I can.
From the description, it seems to be oriented to work with the DRF (Django Rest Framework) and not so much for the Django web apps. But it certainly deserves taking a look at it.
Thank you!!

[2022-10-06 04:55] dabocs commented on #18
I faced the same issue while using keycloak v18.0 and the only valid solution was to Configure audience in Keycloak [here](https://stackoverflow.com/a/53627747/2995886) https://stackoverflow.com/a/53627747/2995886

<img width="676" alt="image" src="https://user-images.githubusercontent.com/5262605/194217492-5bd43e44-f2b7-4d73-805e-cdf3bf83d3e3.png">

[2022-10-11 09:06] dabocs commented on #69
@RicardoFernandez-UY I created a [PR](https://github.com/Peter-Slump/django-keycloak/pull/70) that will make this package work with Django 4.x and KC 19.x but it needs release or you can fork the repo and use the PR branch code

[2022-10-11 11:57] RicardoFernandez-UY commented on #69
@dabocs
Thank you very much!!!!
I'll wait a bit for the merge as it seems to have already been approved. If that doesn't happen in the next few days I will start by trying the branch code.
Warm regards!!

[2022-10-27 09:51] Amanb1145 opened #71 "Issue while Migrating from Django Auth to Keycloak"
I am trying to explore Keycloak with Django but getting an issue while Migrating a user from Django Auth to Keycloak.
The command I ran on terminal is -

`python manage.py keycloak_add_user --realm django --user jangu`

below is the complete log for the above command-

[code]
`
Thank You